.gradient-topbar #topnav {
    background: linear-gradient(75deg,#FF5722 0,#FFEB3B 100%);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-primary {
    background: linear-gradient(135deg,#00BCD4 0,#015eab 100%) !important;
    border: 0px solid #215eac !important;
}
body {
    padding-bottom: 0px !important;
    overflow-x: hidden;
}
body.authentication-bg-pattern {
    background-image: url(../images/bg.jpg) !important;
    background-color: #ffffff;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.7) !important;
    background-clip: border-box;
    border: 0 solid #f7f7f7;
    border-radius: .55rem  !important;
}
a.text-center.btn.btn-primary.tombol {
    padding: 10px 40px !important;
}
.bg-warning.text-center.py-1.hello {
    background: linear-gradient(75deg,#FF5722 0,#FFEB3B 100%) !important;
}